body {  
  
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    
    
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.division1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

img{
    height: 200px;
    text-align: center;
    line-height: 200px;
    
}

div{
    text-align: center; 
    align-items: center;
    color: aqua;


    font-size: 20px;
    font-weight: 500;
    color: #df9cdf;
    text-shadow: 0 0 5px #9803f4,
    0 0 25px  #9803f4, 
    0 0 50px  #9803f4,
    0 0 100px  #9803f4;
    letter-spacing: 1px;
    cursor: pointer;
    
    transition: 4s;
    font-weight: bold;
    font-family: 'Zilla Slab', serif;
    width: 100%;
}

div:hover{
    
    box-shadow: 0 0 10px #a945c7, 0 0 40px #45c7b1, 0 0 110px #a945c7;
    width: 110%;
}
.fondosection{
    background-color: rgba(251, 251, 251, 0.165);
    align-items: flex-end;
    padding: 14%;
    align-items: center;
  
}
section{
    padding: 20px;
    align-items: center;
    
}
h2{
    font-size: 30px;
    margin-top: 10px;
}

form {
    margin-bottom: 10px;
}

button {
    margin-top: 5px;
}

div {
    font-weight: bold;
    margin-top: 10px;
}

h1{
    color: aqua;
    text-align: center;
}

h2{
    color: aqua;
    text-align: center;
    font-size: 30px;
}

.titulo{
    color: dodgerblue;
    font-size: 25px;
}
p{
    color: white;
    text-align: justify;
    font-size: 25px;
}

label{
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}



input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    outline: none;
    background: linear-gradient(180deg,     rgb(56, 56, 56) 0%, rgb(36, 36, 36)   66%, rgb(41, 41, 41) 100%);
    color: #fff;
    transition: .3s ease;
    border: 2px solid;
    border-image: conic-gradient( #00F260, #0575E6,#64f38c) 1;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  
  input::placeholder {
    color: #fff;
  }
  
  input:focus::placeholder {
    color: #999;
  }

  button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  header{
    font-size: 12px;
    border-bottom: 2px solid  rgb(255, 255, 255);
    padding-bottom: 10px ;
    

    background:url(./IMAGE/fondofisica.jpg) no-repeat center top;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: aqua;
    
  }
  .btnMR{
    align-items: center;
    align-self: center;
    width: 200px;
    margin-left: 50px;
  }

footer{
   background:url(./IMAGE/fondofisica.jpg) no-repeat center top;
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center; 

}

footer p {
  color: aqua;
  font-size: 20px;
  line-height: 0.5;
  
}

